#navbar{
    flex-direction: column;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    overflow: hidden;
    height: 100px;
}

#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}

.courses .course{
    flex-direction: column;
}